/* Universal Selector */
*{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    background-color: rgb(174, 245, 174);
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling header to be easier to spot */

.title {
    background-color: steelblue;
    color: #ffffff;    
}

.title h1 {
    display: inline-block;
}

/* styling nav bar to be inline and float to the right */
/* styaling lists in nav with different backgrond color and text decoration */

.title nav {
    float: right;
}

.title nav ul {
    list-style-type: none;
}

.title nav ul li {
    display: inline-block;
}

.title nav ul li a {
    background-color:black;
    color:#ffffff;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 2px 2px;
}
.project header {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: rgb(139, 0, 132);
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .project {
      width: 50%
    }
  }

  @media screen and (max-width: 768px) {
    .project {
      width: 100%;
    }
    
  }