/* Universal Selector */
*{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    background-color: rgb(174, 245, 174);
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling header to be easier to spot */

.title {
    background-color: steelblue;
    color: #ffffff;    
}

.title h1 {
    display: inline-block;
}

/* styling nav bar to be inline and float to the right */
/* styaling lists in nav with different backgrond color and text decoration */

.title nav {
    float: right;
}

.title nav ul {
    list-style-type: none;
}

.title nav ul li {
    display: inline-block;
}

.title nav ul li a {
    background-color:black;
    color:#ffffff;
    text-decoration: underline;
}

/* styying the header within first project to give some paddings and colors */

.first-project{
    padding: 10px 10px 10px 0;
    border-style: solid;
    border-width: 1px;
    margin: 10px 4px;
    background: rgb(141, 136, 139);
}

.first-project header {
    padding: 15px;
    border-radius: 30%;
    margin-top: -30px;
    margin-left: 19px;
    text-align: center;
    font-weight: bolder;
    background: rgb(139, 0, 132);
    color: #ffffff;
}

/* when hover over the object, the box glows */ 

.first-project:hover, .first-project header {
    box-shadow: inset 0px 0px 8px rgb(0, 3, 168), 0 0 15px rgba(0, 3, 168);
}
/* flexbox operation to wrap projects inside the container*/

.container {
    display: flex;
    flex-wrap: wrap;
}

/* styling each project so it's showing as individual box */

.project {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 2px;
    background: rgb(141, 136, 139);
}

/* when hover over the object, the box glows */ 

.project:hover, .project header {
    box-shadow: inset 0px 0px 8px rgb(0, 3, 168), 0 0 15px rgba(0, 3, 168);
}

/* styying the header within each project to give some paddings and colors */

.project header {
    margin-top: -30px;
    border-radius: 30%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: rgb(139, 0, 132);
    color: #ffffff;
}

/* when screen is below 992px only dipsplay two projects in a row */

@media screen and (max-width: 992px) {
    .project {
      width: 50%
    }
}

/* when screen is below 768px then project are diplay as block vertically */

@media screen and (max-width: 768px) {
    .project {
      width: 100%;
    }
    
}


#contact-me ul li{
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    color:royalblue;
}

